@{
    this.ViewData["Title"] = "Thank you";
}
<div class="text-center">

    <h2 class="text-primary">Благодаря, че се свързахте с мен!</h2>
    <p class="text-primary">Очаквайте отговор на посочения от вас имейл адрес.</p>

</div>
<script>
    window.setTimeout(function(){
        window.location.href ='/Product/Product';
    }, 4000);
</script>