<li>
                        <span class="home-icon home-icon-property"></span>
                        Buying or selling a home or investment property with the help of a <a href="/">property lawyer</a>.
                    </li>