@model IEnumerable<GiftProject.Web.ViewModels.Product.ProductsViewModel>
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a asp-area="" asp-controller="Category" asp-action="CategoryById" asp-route-Id="@category.Id">
                            <img src="/img/category_img_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning bx bx-star"></i>
                                    <i class="text-warning bx bx-star"></i>
                                    <i class="text-warning bx bx-star"></i>
                                    <i class="text-muted bx bx-star"></i>
                                    <i class="text-muted bx bx-star"></i>
                                </li>
                                <li class="text-muted text-right">$240.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">@category.Name</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-muted">Products </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>