@model GiftProject.Web.ViewModels.Administration.Product.EditProductModel
@{
    this.ViewData["Title"] = "Edit Product";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Administration" asp-controller="Product" asp-action="EditProduct" enctype="multipart/form-data" method="post">
            <label asp-for="Id"></label>
            <select asp-for="Id" class="form-control">
                @foreach (var item in Model.ProductDropDown)
                {
                    <option class="text-center" value="@item.Id">@item.Name</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="NewName"></label>
                <input asp-for="NewName" class="form-control" placeholder="Ново име" />
                <span asp-validation-for="NewName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewDescription"></label>
                <input asp-for="NewDescription" class="form-control" placeholder="Ново описание" />
                <span asp-validation-for="NewDescription" class="text-danger"></span>
            </div>
            <div class="form-group border border-secondary">
                <label for="customFile">Качи снимка</label>
                <input type="file" class="form-control-file border border-secondary" id="customFile" asp-for="NewImgUrl" />
                <span asp-validation-for="NewImgUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Промени</button>
            <a class="btn btn-primary" asp-area="Administration" asp-controller="Product" asp-action="AllProduct" role="button">Всички продукти</a>
        </form>
    </div>
</div>