@model GiftProject.Web.ViewModels.Administration.Product.EditProductModel
@{
    this.ViewData["Title"] = "Delete Cinema";
}

<div class="row">
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Product" asp-action="" method="post">
            <h4 class="text-danger">Are you sure you want to delete <b>@Model.NewName</b> cinema?</h4>
            <hr />
            <div class="form-group">
                <label asp-for="NewName"></label>
                <input asp-for="NewName" class="form-control" disabled="" />
            </div>
            <div class="form-group">
                <label asp-for="NewDescription"></label>
                <input asp-for="NewDescription" class="form-control" disabled="" />
            </div>
            <button type="submit" class="btn btn-danger">Delete cinema</button>
            <button asp-area="Administration" asp-controller="Product" asp-action="Product" class="btn btn-primary">Back to all cinemas</button>
        </form>
    </div>
</div>