@model GiftProject.Web.ViewModels.Administration.Category.EditCategoryModel
@{
    this.ViewData["Title"] = "Edit Category";
}
<div class="text-center">
    <h1 class="text-secondary">Промени категория</h1>
</div>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        
        <form asp-area="Administration" asp-controller="Category" asp-action="EditCategory" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Id"></label>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Ново име" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group border border-secondary">
                <label for="customFile">Нова снимка</label>
                <input type="file" class="form-control-file border border-secondary" id="customFile" asp-for="NewImgUrl" />
                <span asp-validation-for="NewImgUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Промени</button>
            <a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="AllCategories" role="button">Всички</a>
        </form>
    </div>
</div>
